* {
  font-family: monospace;
}

.Sivu {
  margin: 3rem;
  
  font-family: monospace;
  border-radius: 5px;
  
  .reuna {
    padding: 1rem;
    border: solid 1px rgba(0, 0, 0, 0.281);
  }

  .navi {
    border-radius: 5px;
    background-color: rgba(196, 196, 196, 0.637);
    padding: 20px
  }

  .naviLinkki {
    font-size: large;
    margin: 10px;
    text-decoration: none;
    color: black;
  }  

  .naviLinkki:hover {
    color: rgba(0, 0, 0, 0.466);
  }
}

.Visailua, .Kysymykset, .GameOver {
  margin: 25px;

 p {
    font-size: larger;
  }

  input {
    margin: 20px 0px 20px 20px ;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(196, 196, 196, 0.637);
  }

  button {
    margin: 20px 20px 20px 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(196, 196, 196, 0.637);
  }

  .kysymysTaulu {
    background-color: rgba(206, 206, 206, 0.637);
    padding: 2%;
    border-radius: 16px;
    min-width: 100%;
  
    .kysymysKysymys {
      font-size: larger;
      background-color: rgba(121, 121, 121, 0.527);
      border-radius: 5px;
      padding: 15px;
    }
  
    .kysymysNappi {
      font-size: medium;
      text-align: left;
      padding: 10px 15px;
      width: 100%;
      margin: 0px;
      border-radius: 5px;
      border: none;
      background-color: rgba(196, 196, 196, 0.829);
    }

    .kysymysNappi:hover {
      background-color: rgba(85, 131, 146, 0.39);
    }

    
  }
}

.PelaajanNimi {
  font-size: larger;
}

.GameOver {
  h2 {
    padding-top: 20px;
  }

  text-align: center;
}

.HighScoret {
  .topNavi {
    display: flex;
  }

  .TopNappi{
    // margin: 0px 20px;
    border: none;
    // border-radius: 5px;
    color: black;
    width: 33%;
    font-family: monospace;
    font-size: larger;
    text-decoration: underline;
  }

  .TopNappi:hover{
    background-color: rgba(85, 131, 146, 0.39);

  }

  .Tulokset {
    text-align: center;
    
    table {
      padding-left: 20px;
      width: 100%;
    }
  }
  .kayttajaNimi {
    text-align: left;
  }

  .topViis:first-of-type {
    font-size: 2.0rem;
  }

  .topViis:nth-of-type(2) {
    font-size: 1.8rem;
  }

  .topViis:nth-of-type(3) {
    font-size: 1.6rem;
  }

  .topViis:nth-of-type(4) {
    font-size: 1.4rem;
  }

  .topViis:nth-of-type(5) {
    font-size: 1.2rem;
  }

  .topPaiva {
    font-size: 0.8rem;
  }


}

.topKakskyt {
  font-size: 1rem;
}